.trlabel{
/* background-color:#ffffff; */
background-color:rgba( 173, 216, 230   ,0.2)
border-radius:5px;
box-shadow: 1px 1px 15.5px rgb( 173, 216, 230);
 -webkit-box-shadow: 0px 0px 8px 2px #CCCCCC inset;    
}